* {
    margin:0;
    padding: 0;
    border: 0;
}
header {
    margin-bottom: 10px;
}
.MiddleHead{
    margin-left:15%;
    margin-right: 20%;
}
.RightHead{
    margin-right: 5%;
    margin-top: 2%;
}

main{
    display: flex;
}

.LeftContent {
    text-align: center;
    width: 15%;
    /* border-right: 2px solid black;*/
}
.MainContent{
    display: flex;
    flex-direction: column;
    background-color: lavender;
    border: 2px black solid;
    height: 100%;
    width: 100%;

}

.RightUpContent {
    border-left: 2px black solid;
    background-color: #00a6ff;
    height: 20em;
}

.RightBottomContent {
    border-left: 2px black solid;
    background-color: red;
    height: 20em;
}
