.course {
    padding: 2%;
    border: 2px solid teal;
    margin:1em;
}
.course__p {
    display: flex;
}
.course__content {
    display: flex;
    padding: 1%;
}
.btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;

}