
.MiddleHead{

    margin-left:15%;
    margin-right: 20%;
}
.RightHead{
    margin-right: 5%;
    margin-top: 2%;
}

main{
    display: flex;
    flex-basis: auto;
    flex-direction: row;

}

.LeftContent {
    display: flex;
    width: 20%;
    border: 2px solid black;
}
.MainContent{
    border: 3px solid #000;
    display: flex;
    width: 60%;
    /*word-break: break-all;*/
}
.RightContent {
    display: flex;
    width: 20%;
    border: 2px solid black;
}